<a href="https://colab.research.google.com/github/RaheelNadeem01/PGD-Data-Science-with-AI/blob/main/Assignment_3_(Python_List_Assignment)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Topic: Python Data Structure **Lists**
#**Assignment: 3**
Name: Raheel Nadeem (Data Science & AI student,NEDUET)

**Question 1: Basic List Operations**

a) Create a list named `fruits` containing the following items: "apple", "banana", "orange", "grape", "kiwi".

b) Add "pear" to the end of the list.

c) Insert "mango" at the second position in the list.

d) Remove "orange" from the list.

In [ ]:
#a
fruits=["apple", "banana", "orange", "grape", "kiwi"]
print(fruits)

#b
fruits=["apple", "banana", "orange", "grape", "kiwi"]
fruits.append("pear")
print(fruits)

#c
fruits.insert(1,"mango")
print(fruits)

#d
fruits.remove("orange")
print(fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']
['apple', 'banana', 'orange', 'grape', 'kiwi', 'pear']
['apple', 'mango', 'banana', 'orange', 'grape', 'kiwi', 'pear']
['apple', 'mango', 'banana', 'grape', 'kiwi', 'pear']

**Question 2: Slicing and Indexing**

a) Create a list named `numbers` containing the integers from 0 to 9.

b) Print the element at index 3.

c) Print a sublist containing the elements from index 2 to 6 (inclusive).

d) Print the last three elements using negative indexing.

In [ ]:
#a
numbers=list(range(0,10))
print(numbers)

#b
print(numbers[2])

#c
print(numbers[2:7])

#d
print(numbers[-1:-4:-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
2
[2, 3, 4, 5, 6]
[9, 8, 7]

**Question 3: List Comprehension**

a) Create a list named `squares` using a list comprehension that contains the squares of numbers from 1 to 10.

b) Create a new list named `even_squares` using a list comprehension that contains the squares of even numbers from the `squares` list.

In [ ]:
#a
squares = [i ** 2 for i in range(1,11)]
print(squares)


#b
even_squares = [i ** 2 for i in squares if i % 2 == 0]
print(even_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[16, 256, 1296, 4096, 10000]

**Question 4: List Manipulation**

a) Create a list named `colors` containing the following items: "red", "green", "blue", "yellow", "purple".

b) Swap the first and last elements of the list.

c) Reverse the order of the list.

d) Remove the second and third elements from the list

In [ ]:
#a
colors=["red", "green", "blue", "yellow", "purple"]

#b
colors[0],colors[-1]=colors[-1],colors[-0]
print(colors)

#c
colors.reverse()
print(colors)

#d
del colors[1:3]
print(colors)

['purple', 'green', 'blue', 'yellow', 'red']
['red', 'yellow', 'blue', 'green', 'purple']
['red', 'green', 'purple']

**Question 5: Advanced Slicing**

a) Create a list named `letters` containing the letters from 'a' to 'j'.

b) Using slicing, create a new list `first_half` containing the first half of the `letters` list.

c) Using slicing, create a new list `last_three` containing the last three elements of the `letters` list

In [ ]:
#a

letters=["a","b","c","d","e","f","g","h","i","j"]
print(letters)


#b
first_half=letters[0:5]
print(first_half)

#or
first_half=letters[:len(letters)//2]
print(first_half)


#c
last_three=letters[-1:-3:-1]
print(last_three)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['j', 'i']

**Question 6: Nested Lists**

a) Create a nested list named `matrix` with the following rows:
   - [1, 2, 3]
   - [4, 5, 6]
   - [7, 8, 9]

b) Print the element in the second row and third column.

c) Use nested indexing to change the value at the second row and first column to 0

In [ ]:
#a
matrix=[
    [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
        ]
print(matrix)

#b
x=matrix[1][2]
print(x)

#c
matrix[1][0]=0
for i in matrix:
  print(i)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6
[1, 2, 3]
[0, 5, 6]
[7, 8, 9]