<a href="https://colab.research.google.com/github/RaheelNadeem01/PGD-Data-Science-with-AI/blob/main/Functions_(Practice).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Functions

**Non return functions**

In [ ]:
def introduction():
   print("NED University") # body start
   print("PGD Data Science - Generative AI Program!")
   print("Batch 5")
   print("Saturday & Sunday Calsses") #body end

introduction()  #calling custom function   # calling is always from out of the indent block

NED University
PGD Data Science - Generative AI Program!
Batch 5
Saturday & Sunday Calsses

In [ ]:
introduction()

NED University
PGD Data Science - Generative AI Program!
Batch 5
Saturday & Sunday Calsses

**Return Function**

In [ ]:
def introduction():
   print("NED University")
   print("PGD Data Science - Generative AI Program!")
   print("Batch 5")
   print("Saturday & Sunday Calsses")

   return "Pakistan zinda bad!"   # return function just give the result which is written in the return

abc=introduction()

print(abc)

NED University
PGD Data Science - Generative AI Program!
Batch 5
Saturday & Sunday Calsses
Pakistan zinda bad!

In [ ]:
introduction()

NED University
PGD Data Science - Generative AI Program!
Batch 5
Saturday & Sunday Calsses

'Pakistan zinda bad!'

In [ ]:
print(abc)

Pakistan zinda bad!

**Required Parameters**

In [ ]:
def add_two_nums(num1,num2):
  return num1 + num2

a=add_two_nums(5,6)
print(a)

my name is raheel
11

In [ ]:
def add_two_nums(num1,num2):
  return num1 + num2

a=add_two_nums(5)
print(a)

TypeError: ignored

In [ ]:
def add_two_nums(num1,num2):
  return num1 + num2

a=add_two_nums(5,6,7)   # enter the arguments equal to the parameters given in the function
print(a)

TypeError: ignored

**Keyword arguments**

In [ ]:
def add_two_nums(num1,num2):
  print(f'number1:{num1} and number2:{num2}')
  return num1 + num2
add_two_nums(num1=7,num2=8)

number1:7 and number2:8

15

In [ ]:
def abc(x,y=0,z=0):
  return x+y+z
print(abc(2,2,2)) #Positional argument
print(abc(x=2,y=4,z=6)) #Keyword argument

4
12

In [ ]:
l = ['a','b','c']
print(l[0],l[1],l[2])
print(*l)

a b c
a b c

In [ ]:
def abc(x,y=0,z=0):
  return x+y+z

d={"x":7,"y":5,"z":2}
print(abc(x=7,y=5,z=2))

print(abc(**d))

14
14

In [ ]:
def abc(x,y=0,z=0):
    return x + y + z

d = {"x":7,
    "y":20,
    "z":30 ,
    'e':200}

print(d['x'], d['y'], d['z'])
print(abc(d['x'], d['y'], d['z']))
print(abc(x=7, y=20, z=30))

print(abc(**d))

7 20 30
57
57

TypeError: ignored

**Unlimited argument function**

In [ ]:
def my_sum(*nums):
  total=0
  for n in nums:
    total+=n
  return total

my_sum(1,2,3,4,5,6,7,8)

36

In [ ]:
l1=[1,2,3,4,5,6,7,8]
my_sum(*l1)

36

In [ ]:
def abc(**data):

  #return list(data.items())

abc(x=20,y=40,e=10,end=70)

[('x', 20), ('y', 40), ('e', 10), ('end', 70)]

In [ ]:
data = {"Name":"Qasim",
       "Father":"ASlam",
       "Course":"AI"}

abc(**data)

[('Name', 'Qasim'), ('Father', 'ASlam'), ('Course', 'AI')]

#Functions practice from Code with Harry

In [ ]:
def calculategmean(a,b):
  gmean=(a*b)/(a+b)
  print(gmean)

def isgreater(a,b):
  if a>b:
    print("a is greater")
  else:
    print("b is greater")

def islesser(a,b):
  pass


a=9
b=10
#gmean1=(a*b)/(a+b)
#print(gmean1)
calculategmean(a,b)
isgreater(a,b)


c=22
d=10

calculategmean(c,d)
isgreater(c,d)

4.7368421052631575
b is greater
6.875
a is greater

**Functions arguments and return statement**

In [ ]:
def average(a,b):
  print("the average is",(a+b)/2)

average(6,10)

the average is 8.0

**There are 4 types of arguments**



*   *Default*
*   *Keyword*
*   *variable length*
*   *required argument*

**Default Argument**

In [ ]:
def average(a=9,b=1):
  print("the average is",(a+b)/2)

average()

the average is 5.0

In [ ]:
def average(a=9,b=1):    #a & b are required arguments
  print("the average is",(a+b)/2)

#but if we give values while function calling then it will ignore the values given in argument before
average(1,2)

the average is 1.5

In [ ]:
def average(a=9,b=1):    #a & b are required arguments
  print("the average is",(a+b)/2)

#but if we give values while function calling then it will ignore the values given in argument before
average(b=2)

the average is 5.5

In [ ]:
def name(fname,mname="john",lname="watson"):
  print("Helo",fname,mname,lname)

name("ammy")
name("ammy","raheel")
name("ammy","raheel","faizan")

Helo ammy john watson
Helo ammy raheel watson
Helo ammy raheel faizan

**Keyword Argument**

In [ ]:
def average(a=9,b=1):
  print("the average is",(a+b)/2)

average(b=8,a=4) #in keyword arguments we can reverse the order or can manipulate the values by giving its key same as used above

the average is 6.0

In [ ]:
def name(fname,mname,lname="watson"):
  print("Helo",fname,mname,lname)

name(fname="nadeem",mname="raheel",lname="joseph")

Helo nadeem raheel joseph

**Required Arguments**

In [ ]:
def average(a,b,c=10):
  print("the average is",(a+b+c)/2)

average(2,3)  #we must have to give values of variable that are not given above
               # optional:if we give value of like c it will take the new value

the average is 7.5

In [ ]:
def name(fname,mname,lname="watson"):
  print("Helo",fname,mname,lname)

name("ammy","raheel")

Helo ammy raheel watson

**Variable Length Argument**

In [ ]:
#if we have to find average of lots of numbers
def avg(*numbers):
  print(type(numbers))
  sum=0
  for i in numbers:
    sum=sum+i
  print("Average is",sum/len(numbers))

avg(5,6,10,8,9,6,8,9)

<class 'tuple'>
Average is 7.625

In [ ]:
def name(**name): #if we have to take our argument as dictionary
  print(type(name))
  print("Hello",name["fname"],name["mname"],name["lname"])

name(mname="nadeem",lname="joseph",fname="Raheel")

<class 'dict'>
Hello Raheel nadeem joseph

**Return Function**

In [2]:
def avg(*numbers):
  sum=0
  for i in numbers:
    sum=sum+i
  return (sum/len(numbers))

c=avg(5,6,10,8)
print(c)

7.25

**Lambda Function**
usefull to write anonymous function

In [6]:
def double(x):
  return x*2

double(5)

#OR

double=lambda x:x*2
print(double(5))

double(5)

10

10

In [7]:
cube=lambda x:x*x*x
print(cube(5))

125

lambda can also takes more than one value

In [8]:
average=lambda x,y:(x+y)/2
print(average(3,4))

3.5

Passing function as an argument

In [19]:
def app(fx):
  return 6+fx

cube=lambda x:x*x*x
print(cube(5))
print(app(cube(5)))

125
131

In [20]:
data = [[1,'Z',"E"],
       [3,'X',"F"],
       [2,"Y","G"]]

print(sorted(data))

[[1, 'Z', 'E'], [2, 'Y', 'G'], [3, 'X', 'F']]

In [26]:
data = [[1,'Z',"E"],
       [3,'X',"F"],
       [2,"Y","G"]]

print(sorted(data,key=lambda x:x[1]))

[[3, 'X', 'F'], [2, 'Y', 'G'], [1, 'Z', 'E']]