<a href="https://colab.research.google.com/github/RaheelNadeem01/PGD-Data-Science-with-AI/blob/main/Practice_(Conditions_%2CBranching_%26_Loops).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#practice on topic Condition, Branching and Loops

**If Statement**

In [ ]:
age=17

if age>18:
  print("you can enter in concert")
print("you are not allowed")

you are not allowed

**Else Statement**

**Or Statement**

In [ ]:
age=19
if age>18:
  print("you can enter")
else:
  print("go to another concert")

print("move on")

you can enter
move on

In [ ]:
age=18

if age>18: #or age>=18:
  print("you can go")
elif age==18:
  print("go to another 2nd concert")
else:
  print("go to 3rd concert")
print("move on")

go to another 2nd concert
move on

In [ ]:
# in or statement if one of the condition is true the condition will satisfy

age=18

if age>18 or age>=18:
  print("you can go")
elif age==18:
  print("go to another 2nd concert")
else:
  print("go to 3rd concert")
print("move on")

you can go
move on

**and Statement**

In [ ]:
# in and statement both of the condition need to true the condition will only satisfy

age=int(input("enter the your age: "))
if age>16 and age<19:
  print("you can go")
elif age==18:
  print("go to another 2nd concert")
else:
  print("go to 3rd concert")
print("move on")

enter the your age: 19
go to 3rd concert
move on

**create even , odd number program using if else**

In [ ]:
x=10.0
if x%2==0:
  print(f"number is even {x}")
else:
  print(f"number is off {x}")

number is even 10.0

**make a grading system using if elif else statement**

In [ ]:
per = 32

if per>=80:
    print("A+")
elif per >= 70:
    print("A")
elif per>= 60:
    print("B")
elif per>=50:
    print("C")
elif per>40:
    print("D")
elif per>=33:
    print("E")
else:
    print("Fail")

Fail

**Nested If else**

In [ ]:
num=12
if(num<0):
  print("number is negative")
elif (num>0):
  if(num<=10):
    print("number is between 1 - 10")
  elif(num>=10 and num<=20):
    print("number is between 10 & 20")
  else:
    print("number is greater than 20")
else:
  print("number is zero")

number is between 10 & 20

In [ ]:
#making a program for user name and password system for login
#so lets start

user_name=input("enter user name ")
password=(input("enter password "))
if user_name=="admin":
  print("valid user")
  if password=="raheel123":
    print("valid password")
  else:
    print("invalid user name or password")

else:
  ("try again")

enter user name admin
enter password raheel123
valid user
valid password

In [ ]:
user_name=input("enter user name ")

if user_name=="admin":
  print("valid user")
  password=(input("enter password "))
  if password=="raheel123":
    print("valid password")
    print("congrats you are logged in")
  else:
    print("invalid password")
else:
  print ("invalid user name")

enter user name raheel
invalid user name

In [ ]:
#making a program for user name and password and OTP system for login

In [ ]:
selected_username="raheel315"
selected_password="raheel316"
selected_otp="12345"

user_name=(input("enter user name")
password=(input("enter user name")
otp=(input("enter user name")

if selected_username==user_name:
     print("user name verified")
     if selected_password==password:
      print("password verified")
      if selected_otp==otp:
        print(otp verified)

In [ ]:
# Sample data
stored_username = "user123"
stored_password = "pass456"
stored_otp = "123456"

# Input from user
input_username = input("Enter your username: ")
input_password = input("Enter your password: ")
input_otp = input("Enter the OTP: ")

# First layer: Username check
if input_username == stored_username:
    print("Username verified.")

    # Second layer: Password check
    if input_password == stored_password:
        print("Password verified.")

        # Third layer: OTP check
        if input_otp == stored_otp:
            print("OTP verified. Authentication successful!")
        else:
            print("Incorrect OTP. Authentication failed.")
    else:
        print("Incorrect password. Authentication failed.")
else:
    print("Username not recognized. Authentication failed.")

Enter your username: user123
Enter your password: pass456
Enter the OTP: 123456
Username verified.
Password verified.
OTP verified. Authentication successful!

#Loops

while

for

controls - optional
break

*   continue
*   pass


Three things are important


*   counter

*   logic


*   increament/Decrement

**while loop**

In [ ]:
counter=0
while counter<=10:
  print(counter)
  counter+=1
else:
  print("stop")

0
1
2
3
4
5
6
7
8
9
10
stop

In [2]:
counter=15
while counter>=1:
  print(counter)
  counter-=1

15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

**Continue and pass**

In [ ]:
counter=100
while counter>=0:
  print(counter)
  if counter==85:
    break
  counter -=1
print("end")

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
end

In [ ]:
i=0
while i<=10:
  i+=1
  if i ==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10
11

**For Loop**

for (counter;logic;inc/dec){

}

In [ ]:
name="raheel nadeem"
for i in name:
  print(i)

r
a
h
e
e
l

n
a
d
e
e
m

In [ ]:
#if in a for loop
name="raheel nadeem"
for i in name:
  print(i)
  if i=="e":
    print("this is a special character")

r
a
h
e
this is a special character
e
this is a special character
l

n
a
d
e
this is a special character
e
this is a special character
m

In [ ]:
colors=["green","red","blue","yellow","brown"]
for color in colors:
  print(color)  # for n ander for (krega ye k print hua huva word ko itterate krdega)
  for i in color:
    print(i)

green
g
r
e
e
n
red
r
e
d
blue
b
l
u
e
yellow
y
e
l
l
o
w
brown
b
r
o
w
n

In [ ]:
for k in range(0,5):
  print(k)

0
1
2
3
4

In [ ]:
for k in range (10):
  print(k)

0
1
2
3
4
5
6
7
8
9

In [ ]:
names = ['a','b','c','d','e','f']
for name in names:
  print(name)

a
b
c
d
e
f

In [ ]:
names=["raheel","hammid","faizan","ibrahim"]
for name in names:
  print(f"Hello Mr. {name} welcome to data science class")

Hello Mr. raheel welcome to data science class
Hello Mr. hammid welcome to data science class
Hello Mr. faizan welcome to data science class
Hello Mr. ibrahim welcome to data science class

**Zip function**

two lists can be zip by using zip function

In [ ]:
a=["raheel","hammid","faizan"]
b=["SI3.1","SI3.1","SI3.2"]
d=list(zip(a,b))
print(d)

[('raheel', 'SI3.1'), ('hammid', 'SI3.1'), ('faizan', 'SI3.2')]

In [ ]:
names = ['ali','hamza','junaid']
ages = [22,25,30]
courses = ['AI',"ML","DS"]

d=list(zip(names,ages,courses))
d

[('ali', 22, 'AI'), ('hamza', 25, 'ML'), ('junaid', 30, 'DS')]

**Unzip**

In [ ]:
a,b,c = [1,2,3]

print(a)
print(b)
print(c)

1
2
3

In [ ]:
names = ['ali','hamza','junaid']
ages = [22,25,30]
courses = ['AI',"ML","DS"]

for name,age,course in zip (names,ages,courses):
  print(f"hello mr {name} , your age is {age} and your course is {course}")

hello mr ali , your age is 22 and your course is AI
hello mr hamza , your age is 25 and your course is ML
hello mr junaid , your age is 30 and your course is DS

In [ ]:
users = ['a','b','c']
password = ['1','2','3']

ui = input("UserName:\t")
pi = input("Password:\t")

for u,p in zip(users,password):
    if ui == u and pi == p:
        print(f"Welcome Dear {u}!")
        break

else:
    print("Not Valid user name password!")

Not Valid user name password!

**LOOP IF and ZIP example**

In [ ]:
user=['a','b','c']
password = ['1','2','3']

ui=input("user name :")
up=input("user password:")

for u,p in zip(user,password):
  if ui==u and up==p:
    print(f"Welcome user {u}")
    break

  else:
    print("invalid user")

user name :a
user password:6
invalid user
invalid user
invalid user

**Enumerate function**

In [3]:
names=['raheel','shahryar','faizan']
list(enumerate(names))

[(0, 'raheel'), (1, 'shahryar'), (2, 'faizan')]

In [4]:
names = ['ali','hamza','junaid']
for idx, value in enumerate(names):
    print(idx, value)

0 ali
1 hamza
2 junaid

**Example of words which you dont want to print**

In [5]:
names=list("qwertyuiopasdfghjklzxcvbnm")
blocked_customer = ['b','z','k','w']
for name in names:
  if name not in blocked_customer:
    print(f"hello {name} !")

hello q !
hello e !
hello r !
hello t !
hello y !
hello u !
hello i !
hello o !
hello p !
hello a !
hello s !
hello d !
hello f !
hello g !
hello h !
hello j !
hello l !
hello x !
hello c !
hello v !
hello n !
hello m !

In [13]:
names=list("qwertyuiopasdfghjklzxcvbnm")
blocked_customer = ['b','z','k','w']
for name in names:
  if name in blocked_customer:
    print(f"hello {name} !")

hello w !
hello k !
hello z !
hello b !

In [15]:
data = []

while True:
    n = input("name")
    p = input("password")
    if n=='exit' or n == 'x':
        break


    data.append([n,p])

nameexit
passwordexit